.missed-container {
  height: 100%;
  left: 0;
  overflow-y: scroll;
  background-color: #f1f1f1;
}

.key-div {
  margin-top: 1rem;
}

.missed-container::-webkit-scrollbar {
  display: none;
}

.missed-container-card {
  width: 85%;
  border: 1px #dedede solid;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 15% 65% 20%;
  grid-template-rows: 0.6fr;
  grid-template-areas:
    "logo from time"
    "logo details time";
  margin: 1rem;
  background-color: #fff;
}

.missed-container-card a {
  text-decoration: none;
  color: #9d9c9c;
}

.missed-date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem;
  width: 100%;
  text-align: center;
  color: #9d9c9c;
  text-transform: uppercase;
}

.missed-date::before,
.missed-date::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #dedede;
}

.missed-logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.missed-from {
  grid-area: from;
  font-weight: 800;
  color: black;
}

.missed-from-details {
  margin-top: 0.5rem;
  grid-area: details;
}

.missed-time {
  grid-area: time;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
}

.archive {
  cursor: pointer;
}
